a.biblref {
  color: #990000; /* Heidelberg Red */
}

a.endnote_number {
    text-decoration: none;
    color: #990000; /* Heidelberg Red */
}

a.name {
    text-decoration: none;
    color: #990000; /* Heidelberg Red */
}

a.index {
    text-decoration: none;
    color: #990000; /* Heidelberg Red */
    font-weight: bold;
}

a.start {
    text-decoration: none;
    color: #990000; /* Heidelberg Red */
    font-weight: bold;
    font-size: large;
}

a.endnote_number::after {
    content: ' '
}

.gi {
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    color: #000096;
}

a.loddoc {
    text-decoration:underline;
    text-decoration-style: dotted;
    color: #9F0001; /* Heidelberg Red */
}

a.conceptstoc {
    color: #9F0001; /* Heidelberg Red */
}

a.inlink {
    color: DimGray; 
}

a.outlink {
    color: DimGray; 
}

a.note_mark {
  color: #9F0001; /* Heidelberg Red */
}

a.tocref {
  color: #9F0001; /* Heidelberg Red */
}

a.navref {
  color: Gray;
}

a.refboxlink {
  text-decoration: none;
}

    .refboxlink::before {
        content: '☞ ' ;
        color: #993300;
    }  

body {
    /*max-width: 800px;*/
    font-family: 'Spectral', serif;
}

div.endnote {
    margin-bottom: 10px;
}

div.exemplum {
  /*background-color: #f0f3f5;*/
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  border-style: dotted;
  border-color: Gray;
  margin-top: 40px;
}

/*dl {
                    text-indent: -2em;
                    margin-left: 4em;
                   }*/
                   
dt { 
  /*font-weight: bold; */
  color: #9F0001; /* Heidelberg Red */
  /*display: inline-block; */
  /*font-family: 'Open Sans', sans-serif;*/
}
dt:after { content:': '; }
/*dd { display: inline; margin: 0; }
dd:after { display:block; content:''; }*/


footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;  
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: LightGray;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #9F0001; /* Heidelberg Red */
    margin-bottom: 50px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #9F0001; /* Heidelberg Red */
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #9F0001; /* Heidelberg Red */
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #9F0001; /* Heidelberg Red */
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: #9F0001; /* Heidelberg Red */
}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: LightGray;
}

img.illustration {
    width: 80%; 
    border:1px solid black;
}

img.smaller_graphic {
  width: 40%;
}

#impressum {
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: small;
  /*margin: 3% 3% 3% 3%;*/
  /*background-color: LightGray;*/
}

#logoverbund {
  width: 25vw;
  margin-left: 30px;
  min-width: 200px;
  /*margin: 3% 3% 3% 3%;*/
  /*background-color: LightGray;*/
}

nav {
    font-family: sans-serif;
    color: Gray;
    margin-bottom: 70px;
}

p.bildunterschrift {
  width: 80%; 
  font-weight: bold;
}

p.bildunterschrift_ref {
  width: 80%; 
  font-size: smaller;
}

p.exemplum_heading {
  width: 80%;
  font-weight: bold;
}

p.resdef {
  background-color: #f5f2f0;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  border-style: dotted;
  border-color: Gray;
}

span.att {
    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
    color: #F5844C;
}

span.biblrefprefix {
  color: #9F0001; /* Heidelberg Red */
}

span.csscode {
  font-family: 'Ubuntu Mono', monospace;
  background-color: PaleTurquoise;
}

span.code {
  font-family: 'Ubuntu Mono', monospace;
}

span.exemplum_label {
  position:relative; 
  top:-20px; 
  margin-left: 40px; 
  background-color:#fff;
  /*padding:0 10px;*/  
  /*background-color: #f0f3f5;*/
  padding: 5px 15px 5px 15px;
  border: 1px;
  border-radius: 3px;
  border-style: dotted;
  border-color: Gray;
}

span.item_label::after {
    content: ' '
}

span.val {
    font-family: 'Ubuntu Mono', monospace;
    color: #993300;
}

span.loddocborder {
    color: #9F0001; /* Heidelberg Red */
}

span.outlinkprefix {
  color: DimGray; 
}

span.gray_petit {
  color: DimGray; 
}

table {
  border: 0.5px dotted gray;
  font-size: 90%;
}

th {
  text-align: left;
  
}

td {
  text-align: left;
  border: 0.5px dotted gray;
}

.egxml {
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 40px;
}

/* xmlverbatim */
.xmlverb-default {
    color: #333;
    font-family: monospace;
    font-size: medium;
    padding-left: 1em;
    border-left: 2px solid #D5D5D5;
}
.xmlverb-element-name {
    color: #000096
}
.xmlverb-element-nsprefix {
    color: #660
}
.xmlverb-attr-name {
    color: #F5844C
}
.xmlverb-attr-content {
    color: #993300
}
.xmlverb-ns-name {
    color: #660
}
.xmlverb-ns-uri {
    color: #309
}
.xmlverb-text {
    color: #000;
}
.xmlverb-comment {
    color: #060;
    font-style: italic
}
.xmlverb-pi-name {
    color: #060;
    font-style: italic
}
.xmlverb-pi-content {
    color: #066;
    font-style: italic
}

/* The following styling for "main" and "aside" has been adopted 
 * from https://kennethfriedman.org/thoughts/2019/marginal-notes/ */

main {
    max-width: 700px; /*provides maximum, in case screen is huge*/
    /*margin-right: 20%;*/
    width: 80%; /*keeps body text width resonable*/
    margin: 0 auto; /*centers main on page*/
}

/*Marginal Notes on Desktop*/
aside,
.aside {
    display: inline;
    float: right;
    position: relative;
    width: 15vw; 
    /*margin-right: -24vw;*/
    margin-right: -20vw;
    font-size: 16px;
    color: Gray;
}

/*Marginal Notes on mobile*/
@media (max-width : 768px) {
    aside,
    .aside {
        display: block;
        float: none;
        margin: 5% 10% 5% 10%;
        width: 80%;
        font-size: 15px;
        
    }
    
    .aside::before {
        content: '☞ ' /*“*/
    }  
    
    /*.aside::after {
        content: '”'
    }  */
}

#logo_heieditions {
    width: 60vw;
    margin: 3% 3% 3% 3%;
}

#header_docu {
    width: 15vw;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #9F0001; /* Heidelberg Red, #990000? */ 
    font-size: 20px;
    margin-top: 15px;
}

#deco {
  width: 30vw;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.5;
}

/* font files and CSS for font embedding generated using https://google-webfonts-helper.herokuapp.com/fonts */

/* spectral-regular - latin-ext_latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/spectral-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/spectral-v12-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spectral-italic - latin-ext_latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/spectral-v12-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/spectral-v12-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v34-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v34-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/open-sans-v34-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/open-sans-v34-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-regular - latin-ext_latin_greek */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/ubuntu-mono-v15-latin-ext_latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/ubuntu-mono-v15-latin-ext_latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-mono-italic - latin-ext_latin_greek */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/ubuntu-mono-v15-latin-ext_latin_greek-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/ubuntu-mono-v15-latin-ext_latin_greek-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}